{% extends 'temp/admin_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post">
            {% csrf_token %}
			<h2>Dangerous Location</h2>
			<table class="table table-dark">
				<tr>
					<td>Location</td>
					<td><input type="text" name="location" required></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" value="submit" ></td>
				</tr>
			</table>
		</form>
	</center>

</body>
</html>
{% endblock %}