{% extends 'temp/admin_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post">
             {% csrf_token %}
			<h2>Emergency Number </h2>
<table border="1" class="table table-dark">
			<tr>
				<td>Emergency Number</td>
                <td><input type="number" name="emergency_no" required></td>
				
			</tr>
			<tr>
                <td></td>
				<td><input type="submit" value="submit" ></td>
				
			</tr>
</table>
		</form>
	</center>

</body>
</html>
{% endblock %}