
{% extends 'temp/home_base.html' %}
{% block content %}
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post">
            {% csrf_token %}
			<h2>Login</h2>
			<table class="table table-dark">
				<tr>
					<td>Username</td>
					<td><input type="text" name="uname"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="pwd"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login" ></td>
				</tr>
			</table>
		</form>
	</center>

</body>
</html>
{% endblock %}