
{% extends 'temp/home_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post">
            {% csrf_token %}
			<h2>DRIVER</h2>
			<table class="table table-dark">
				<tr>
					<th>Username</th>
					<td><input type="text" name="user" required></td>
				</tr>
				<tr>
					<th>Address</th>
					<td><input type="text" name="address" required></td>
				</tr>
                <tr>
					<th>Contact Number</th>
					<td><input type="text" pattern="[0-9]{10}" name="Number" required></td>
				</tr>
                <tr>
					<th>Email</th>
					<td><input type="email" name="Email"required></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" value="submit" ></td>
				</tr>
			</table>
		</form>
	</center>

</body>
</html>
{% endblock %}
