
{% extends 'temp/police_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>

			<h2>Complaints</h2>
			<table border="2" class="table table-dark">
			<tr>
				<td>police_name</td>
				<td>location</td>
				<td>username</td>
				<td>password</td>

			</tr>
                 {% for i in s %}
			<tr>
				<td>{{ i.police_name }}</td>
				<td>{{ i.location }}</td>
				<td>{{ i.username }}</td>
				<td>{{ i.password }}</td>

			</tr>
                {% endfor %}
			</table>
		</form>
	</center>

</body>
</html>
{% endblock %}