{% extends 'temp/police_base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form method="post">
			<h2>Complaints</h2>
			<table border="2" class="table table-dark">
			<tr>
				<td>Complaint</td>
				<td>Police_id</td>
				<td>user_id</td>
				<td>date</td>
				<td>time</td>
				<td>Action</td>
			</tr>
                {% for i in s %}
			<tr>
				<td>{{ i.complaint}}</td>
				<td>{{ i.police_id }}</td>
				<td>{{ i.user_id }}</td>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
				<td><a href="/complaint/postreply/{{ i.complains_id }}">Reply</a></td>
			</tr>
                {% endfor %}
			</table>
		</form>
	</center>

</body>
</html>
{% endblock %}
